<div>OUTER DIV</div>
{% extends "./base.html" %}
    {% block body %}
        <h2>about</h2>
        {% do "1, 2, 3" %}
            {{ VALUES }}
        {% endblock %}

        <p>Hey 👋</p>
        <p>
            Much of my experience has involved working across the entire web-stack.
            More recently however, I've found myself deeply interested in
            <i>systems programming</i>, along with the design of more performant
            software in general using <i>C</i>. This has been my point of
            focus for the last few months.
        </p>
        <a href="url">URL</a>
    {% endblock %}
{% endblock %}
<div>OUTER DIV</div>
